@font-face {
	font-family: RuberoidExtraBold;
	font-weight: 800;
	font-style: normal;
	src: local("RuberoidExtraBold"),
		url("./../fonts/RuberoidExtraBold.woff2") format('woff2');
	font-display: swap;
}
@font-face {
	font-family: RuberoidBold;
	font-weight: 700;
	font-style: normal;
	src: local("RuberoiBold"),
		url("./../fonts/RuberoidBold.woff2") format('woff2');
	font-display: swap;
}
@font-face {
	font-family: RuberoidSemiBold;
	font-weight: 600;
	font-style: normal;
	src: local("RuberoidExtraBold"),
		url("./../fonts/RuberoidSemiBold.woff2") format('woff2');
	font-display: swap;
}
@font-face {
	font-family:RuberoidExtraBold;
	font-weight: 500;
	font-style: normal;
	src: local("RuberoidMedium"),
		url("./../fonts/RuberoidMedium.woff2") format('woff2');
	font-display: swap;
}
@font-face {
	font-family:RuberoidExtraBold;
	font-weight: 400;
	font-style: normal;
	src: local("RuberoidRegular"),
		url("./../fonts/RuberoidRegular.woff2") format('woff2');
	font-display: swap;
}
