// base
$font-family: "RuberoidMedium", sans-serif;
$second-family1: "RuberoidBold", sans-serif;
$second-family2: "RuberoidSemiBold", sans-serif;
$second-family3: "RuberoidExtraBold", sans-serif;
$second-family4: "Ruberoid Regular", sans-serif;

// Colors
$acceht: #2eecc5;

