.footer__bottom {
	text-align: center;
	@include small-tablet {
		
	}
}
.footer__bottom-title {
	margin-top: 41px;
	margin-bottom: 57px;
	@include tablet {
		display: none;
	}
}
.footer__socials-row {
	@include tablet {
		display: flex;
		align-items: center;
		justify-content: start;
		padding: 10px 0;
		background: linear-gradient(73.49deg, #313134 -57.16%, #222224 3.42%, #292929 86.16%);
		border: 1px solid rgba(255, 255, 255, 0.2);
	}
}
.footer__image {
	
	display: none;

	@include tablet {
		display: block;
		margin-bottom: -37px;
	}
}
.footer__socials {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__socials-item {
	display: block;
	margin-right: 36px;
	@include mobile {
		margin-right: 15px;
		max-width: 57px;
	}
}
.footer__socials-item .svg-flash {
	fill: #dadada;
	transition: all 0.5s ease;
}
.footer__socials-item:hover .svg-flash {
	fill: #138c74;
}
.footer__socials-item svg:hover {
	transform: scale(1.04);
	transition: all 0.3s ease;
}

.footer__socials-item:last-child {
	margin-right: 0px;
}
.footer__bottom-privacy {
}
.privacy-1 {
	font-family: $second-family4;
	font-weight: 400;
	font-size: 15px;
	line-height: 105.6%;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 70px;
	margin-bottom: 15px;
	@include tablet {
		margin-top: 15px;
	margin-bottom: 15px;
	}
}
.privacy-2 {
	font-family: $second-family4;
	font-weight: 400;
	font-size: 13px;
	line-height: 105.6%;
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
}
